body { 
    background: url("../images/geometic.jpg");
    background-attachment: scroll;
}

.header {
    text-align: center;
}

.directions {
    text-align: center;
    color:  black;
    
}

h1{
    margin: 75px 0px 75px 0px;
    letter-spacing: 15px;
}

h3, h4, #magicNumber, #totalScore, #wins, #losses, .scores {
	color: #4B0082;
} 
 
.scores {
    font-size: 23px;
    font-weight: 630;
}


.crystalimg {
    width: 150px;
    
	
}

.total, .scores, .directions {
	margin: 75px 0px 75px 0px;
}

.score {
    margin-bottom: 0;
}
